#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.main-screen {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #242424;

  .game-info {
    padding: 20px;
    background-color: #6d0870;
    font-size: 20px;
    font-weight: 500;
    color: #fff;

  }

  .action-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    /* ... other styles */
  }

  .background {
    flex: 1;
    background-image: url('path/to/background.jpg');
    background-size: cover;
    /* ... other styles */
  }

  .character-portrait {
    width: 200px;
    height: 200px;
    background-image: url('path/to/character.jpg');
    background-size: cover;
    /* ... other styles */
  }
}